<html>
<head>
	<title>User Profile</title>

	{% load staticfiles %}
	<link rel="stylesheet/less" type="text/css" href="{% static 'wall/style.less' %}">
	<!-- LESS -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>



	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


</head>
<body>
	<!-- NAVBAR -->
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">User Dashboard</a>
	      <a class="navbar-brand" href="{%url 'events'%}">Events</a>
	      <a class="navbar-brand" href="{%url 'index'%}">Community</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="/../../dashboard">Dashboard <span class="sr-only">(current)</span></a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	       	<li><a href="{% url 'logout' %}">Log Off</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div class="container">
		<div class="post_message">
			<h3>Post message to Community Page</h3>
			<form action="{%url 'post_message'%}" method="post">
				{% csrf_token %}
				<label>Title: <input type="text" name="title"></label>
				<label>Message: <textarea rows="4" cols="30" name="message"></textarea></label>
				<label>Image: <input type="file" name="image" size="40" accept="image/jpeg"></label>
				<input type="submit" name="submit" value="Post">
			</form>
		</div>
		<hr>
		{%for message in messages%}
		<div class="messages">
			<h2>Title: {{message.title}}</h2>
			<h4>Message: {{message.message}}</h4>
			<img src="{{message.image}}">
		</div>
		{%endfor%}
	</div>
</body>
</html>